.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

.emoji {
  font-weight: 100;
  font-size: 40px;
}

.text {
  padding-top: 5px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

.button {
  margin-top: 15px;
  border-radius: 15px 15px;
  width: 11vw;
  height: 5vh;
  background-color: #4c63aa;
  border: none;
  color: white;
  cursor: pointer;
}
